input[type="radio"]{
	appearance:none;
	width:20px;
	height:20px;
	border-radius:50%;
	padding:5px;
	outline:2px solid var(--radio-color);
	outline-offset:3px;
}
input[type="radio"]:checked{
	background-color:var(--radio-color);
}
#light{
	--radio-color:grey;
}
#blue{
	--radio-color:blue;
}
#green{
	--radio-color:green;
}
#dark{
	--radio-color:black;
}

